---
title: Navigation
image: feature1
root: ../../
text: Navigation system guaranteed for accurate hiking directions.
---
<div  class="container-feature">
    <section class="container-feature__hero">
        <h2>Navigation Feature</h2>
        <p>Never get lost finding the trail. With just one click.</p>
        {# <a class=" btn primary container-feature__hero--btn "href="/walkingApp/{{root}}news/index.html">Try a Free Demo</a> #}
        <div class="container-feature__hero--img">
            <a href="https://www.apple.com/" target="_blank"><img class="feature-icons" src="{{ root }}assets/img/appstore.png" alt="appstore"></a>
            <a href="https://play.google.com" target="_blank"><img class="feature-icons" src="{{ root }}assets/img/googleplay.png" alt="googleplay"></a>
        </div>
    </section>
    <section class="container-feature__main">
        <article class="container-feature__main--img weather video-header">
            <video width="320" height="240" controls>
                <source src="{{ root }}assets/img/navigation.mp4" type="video/mp4">
                 Sorry, your browser doesn't support embedded videos.
            </video>
        </article>
        <article class="container-feature__main--info">
            <h3>Accurate and dependable navigation system</h3>
            <p></p>
            <ul class="feature-list">
                <li>Hiking gps navigation will be known for its stability, reliability and flexibility</li>
                <li>Offline hiking maps will explores the most beautiful, hilly and mountains tracks using navigator where there are no roads.</li>
                <li>Hiking gps navigation explores the view point, camping points, offroads and accommodations of hiking trails anywhere.</li>
                <li>Hiking gps tracker have the ability to save the hiking trails near me and use them offline</li>
                <li>In-built compass</li>
            </ul>
        </article>
   </section>
   <section class="container-feature__extra">
        <h3> Get your accurate hiking directions. </h3>
        <p>Never get lost finding the trail. With just one click, get hiking directions right to the trail head. Access has never been so easy.</p>
   </section>
</div>

