---
title: Socials
root: ../../
image: feature4
text: Save and share photographs and stories of your adventure’s best moments.
---

<div  class="container-feature">
    <section class="container-feature__hero">
        <h2>Socials Feature</h2>
        <p>Record and share your adventures with friends on social media </p>
        {# <a class=" btn primary container-feature__hero--btn "href="/walkingApp/{{root}}news/index.html">Try a Free Demo</a> #}
        <div class="container-feature__hero--img">
            <a href="https://www.apple.com/" target="_blank"><img class="feature-icons" src="{{ root }}assets/img/appstore.png" alt="appstore"></a>
            <a href="https://play.google.com" target="_blank"><img class="feature-icons" src="{{ root }}assets/img/googleplay.png" alt="googleplay"></a>
        </div>
    </section>
    <section class="container-feature__main">
         <article class="container-feature__main--img weather video-header">
            <video width="320" height="240" controls>
                <source src="{{ root }}assets/img/social.mp4" type="video/mp4">
                 Sorry, your browser doesn't support embedded videos.
            </video>
        </article>
        <article class="container-feature__main--info">
            <h3>Record and share your adventures</h3>
            <p>Record tracks and view live stats in the app such as:</p>
            <ul class="feature-list">
                <li>Times</li>
                <li>Distances</li>
                <li>Altitudes</li>
                <li>Speeds</li>
                <li>Surroundings</li>
            </ul>
            <p>Share them with friends on social media.</p>
        </article>
   </section>
   <section class="container-feature__extra">
        <h3>Every Outdoor Memory. One Story.</h3>
        <p>Do something awesome on your last trip? Tell the world about it. Share photographs and stories of your adventure’s best moments, recommend your favorite spots to the komoot community, and surround yourself with like-minded adventurers, even when they’re a mountain range away..</p>
   </section>
</div>