---
layout: about-contact
title: How can we help? 
root: ../
eleventyNavigation: 
    key: Contact Us
    order: 4
img: the-view.jpg 
sub_title: Contact us about anything related to our App or services.
---
<div class="wrapper wrapper-contact">

    <h3 class="wrapper-contact__text" >Organise the trail you like and share it with your friends FAQ </h3>
    <section class="add-margin">
        <div class="green-feature-top"></div>
        <form action="">
            <article class="contact">
                <p class="contact__flex">
                    <span>
                        <label for="firstname">
                            <span class="contact__label">First Name</span>
                            <strong>*</strong>
                        </label>
                        <input type="text" id="firstname" placeholder="First Name" required/>
                    </span>
                    <span>
                        <label for="lastname"> 
                            <span class="contact__label">Last Name</span>
                            <strong>*</strong>
                        </label>
                        <input type="text" id="lastname" placeholder="Last Name" required/>
                    </span>
                </p>
                <p>
                    <label class="contact__label" for="mail">
                        <span>E-mail: </span>
                        <strong>*</strong>
                    </label>
                    <input type="email" id="mail" name="usermail" placeholder="Email" required/>
                </p>
                <p>
                    <label class="contact__label" for="questions">
                        <span>Subject</span>
                        <strong>*</strong>
                    </label>    
                    <select name="questions" id="questions">
                        <option value="">--Please choose a subject--</option>
                        <optgroup label="App">
                            <option value="app1">GPS</option>
                            <option value="app2">Weather</option>
                            <option value="app2">Maps</option>
                            <option value="app2">Socials</option>
                        </optgroup>
                        <optgroup label="Servives">
                            <option value="service1">Login/out</option>
                            <option value="service2">Register</option>
                            <option value="service2">Privacy</option>
                        </optgroup>
                    </select>
                </p>
                <label class="contact__label" for="story">
                    <span class="contact__label label-colour">How can we help?</span>
                </label>    
                <textarea id="story" name="story"
                        rows="5" cols="33">
                </textarea>
                <span class="submit"> 
                    <p class="sr-only"> submit the contact form </p>
                    <input class="primary" type="submit" value="Send">
                </span>
            </article>
        </form>
    </section>
</div>
