.clients {
    display: flex;
    justify-content: center;
    background-color: $background-colour;

    &__list {
        padding-left: 0;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: $spacing-m-lg;
        justify-content: center;

        &--item {
            justify-self: center;
        }

    }
}