---
layout: base
---


<div class="about-contact">
    <section class="about-contact__hero">
        <article class="about-contact__hero--heading">
            <h2>{{ title }}</h2>
        </article>
    </section>
   
    
    {{ content | safe  }}
</div>