---
layout: base  
---


<section class="news-hero">
    <article class="news-hero--heading">
        <h2>{{ title }}</h2>
    </article>
</section>

<div class="wrapper">
    {{ content | safe }}
</div>


