<li class="wrapper-about__team--members--member card">
    <img class="card__img"src="{{root}}{{member.img}}" alt="trace tracker team member">
    <div class="card__info">
        <strong class="card__info--name">{{member.name}}</strong>
        <p class="card__info--position ">{{member.position}}</p>
        <p>{{member.bio}}</p>
    </div>
</li>