
{# {% if clients | length  %} #}
    <section class="clients">
        <ul class="clients__list">
            {% for client in clients %}
                    <li class="clients__list--item">
                        <img src="{{root}}{{client.img}}" alt="clients logo">
                    </li>
            {% endfor %}
        </ul>
    </section>
{# {% endif %} #}