
  

{# wanna create it somewhere #}
    <div class="hero__decoration">
        <img class="hero__decoration--logo" src="{{ root }}assets/img/logo.svg" alt=" logo">
        <h1 class="hero__decoration--title">Let's Explore</h1>
        <h3 class="hero__decoration--text text-white">Plan, navigate and share your adventures.</h3>
        <article class="" >
           <a href="https://www.apple.com/" target="_blank"><img class="hero__decoration--icons" src="{{ root }}assets/img/appstore.png" alt="appstore"></a>
           <a href="https://play.google.com" target="_blank"><img class="hero__decoration--icons" src="{{ root }}assets/img/googleplay.png" alt="googleplay"></a> 
        </article>
    </div>
