  <ul class="image-slider__list">
        <li class="image-slider__list--item">
                <img class="" src="{{ root }}assets/img/valley.jpg" alt="a hiker in a grassland">                      
        </li>
        <li class="image-slider__list--item">
                <img class="" src="{{ root }}assets/img/landingPage.jpg" alt="pair of hikers on a snow mountain">                     
        </li>
        <li class="image-slider__list--item">    
            <img class="" src="{{ root }}assets/img/grassland.jpg" alt="pair of hikers in a forest">                 
        </li>
    </ul>